---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/cycle.JPG";
import monkeyImg from "@/assets/monkey.jpeg";
import museumImg from "@/assets/museum.jpeg";

const meta = {
	title: "About",
	description: "Adithya Krishna",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p class="mb-2 mt-6">
			Thank you for taking the time to internet stalk me! If you are here, you are probably 2-3 clicks deep and since you've gone through all this trouble (and possibly neglected other important <strike>jiras</strike> tasks), I suppose I owe you a tiny <strike>sales</strike> pitch
		</p>
		
		<p class="mb-2 mt-6">
		I'm a native Bangalorean (a city in India). I like to do what excites me along with doing the most <strike>spontaneous</strike> random things and ofc having a nice cup of <span class="text-accent">filter coffee</span>. I grew up cycling around Blr and tinkering with computers during my summers. And during these holidays, my mom inculcated reading books as a habit in me and the first collection I read was <span class="text-accent">The Famous Five </span> by Enid Blyton followed by <span class="text-accent">The Faraway Tree</span>, and then <span class="text-accent">Chetan Bhagat</span> and a few more. But this habit got lost after my bachelor's studies and I'm slowly getting back to it.
		<br/><br/>

		<i>PS. If you have recs for thrillers, mystery or good self-help (ones you've read and implemented the tips/tricks) books, feel free to DM it to me :)</i>

		</p>

		<p class="mb-2 mt-6">
		I've always been fascinated with computers ever since I was a kid but used to hate math (a crime in a Indian family). And this fascination of mine (along with a touch of fomo) has pushed me to do a lot of stuff. Be it hackathons or building stupid sites/apps.

		</p>

		<p class="mb-2 mt-6">
		Now I code and develop things I'm deeply passionate about. Currently I work with <a 
				href="https://www.tensorlake.ai" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-accent">Tensorlake</a> (thanks to  <a 
				href="https://x.com/nonvonmon" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-accent">@nonvonmon</a> for referring me) where I build UI stuff like Our Website, Cloud Platform and <i>psst!</i> a soon to be launched product(s)
		</p>


		<h2 class="font-bold ">Few pictures of me</h2>

		<div class="my-4 flex justify-start gap-2">
			<Image
				src={aboutImg}
				alt="Adithya Krishna"
				width={280}
				height={280}
				class="rounded-lg shadow-md grayscale"
			/>
			<Image
				src={museumImg}
				alt="Adithya Krishna"
				width={200}
				height={200}
				class="h-100 rounded-lg shadow-md grayscale"
			/>
			<Image
				src={monkeyImg}
				alt="Adithya Krishna"
				width={200}
				height={200}
				class="h-100 rounded-lg shadow-md grayscale"
			/>
		</div>
	</div>
</PageLayout>
