---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate, getUniqueTags } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const uniqueTags = getUniqueTags(allPosts);

const techPosts = allPostsByDate.filter(post => post.data.tags?.includes("tech"));
const otherPosts = allPostsByDate.filter(post => !post.data.tags?.includes("tech"));
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title">hey!</h1>
		<span>ನಮಸ್ಕಾರ</span>
		<p class="mb-2 mt-6">
			My friends call me <span class="rounded-lg bg-accent/30 p-1 text-quote">Adi</span> and I'm based out of <span class="rounded-lg bg-accent/30 p-1 text-quote">Bengaluru</span> (yes, I love masale dose and filter coffee). I used to be a frontend engineer and now im more of a full-stack engineer?
		</p>

		<p class="mb-2 mt-6">
			Currently working at <strong><a 
				href="https://www.tensorlake.ai" 
				target="_blank" 
				rel="noopener noreferrer" 
				class="text-accent">Tensorlake</a></strong> where I'm building the UI stuff. along with that, im a <strike>emergency</strike> dev according to <a class="text-accent" href="https://x.com/_adi18_" target="_blank">@_adi18_</a> for his legalai company <span class="rounded-lg bg-accent/30 p-1 text-quote">nyayanidhi</span>
		</p>

		<p class="mb-2 mt-6">
			<i>I love connecting with new people over morning walks and breakfast. Always on the lookout for great cafés to work from or explore - if you have recommendations or want to join, reach out to me on Twitter/X</i>
		</p>
		<SocialList />
	</section>
	

	<div class="space-y-10">
	<section aria-label="Tech blog posts" class="mt-10">
		<h2 class="title">tech</h2>
		<ul class="space-y-4 sm:space-y-2 mt-4">
			{
				techPosts.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Other blog posts" class="mt-10">
		<h2 class="title">others</h2>
		<ul class="space-y-4 sm:space-y-2 mt-4">
			{
				otherPosts.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</div>
</PageLayout>
